<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
            <link rel="stylesheet" href="./css/styles.css">
            <link rel="icon" href="./img/weather.png">
        <body>
            <div class="main-content">
                {{>header}}
                {{ErrorMsg}}
            </div>
                
                {{>footer}}
        </body>
    </head>
</html>