<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
            <link rel="stylesheet" href="./css/styles.css">
             <link rel="icon" href="./img/weather.png">
        <body>
            <div class="main-content">
                {{>header}}
                <p>This app is created by Krishna Rai.It uses mapbox.com and darksky.net</p>
                <img class="portrait" src="./img/me.JPG">
            </div>
                
                {{>footer}}
        </body>
    </head>
</html>